-- CORREÇÃO RLS
-- Remover políticas existentes
DROP POLICY IF EXISTS "Users can view organizations they belong to" ON organizations;
DROP POLICY IF EXISTS "Organization masters can manage their organization" ON organizations;
DROP POLICY IF EXISTS "Masters can manage organization" ON organizations;
DROP POLICY IF EXISTS "Members can view organization" ON organizations;

-- POLÍTICAS CORRIGIDAS PARA ORGANIZATIONS
CREATE POLICY "Authenticated users can create organizations" ON organizations
    FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

CREATE POLICY "Users can view their organizations" ON organizations
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM organization_members 
            WHERE organization_id = organizations.id 
            AND user_id = auth.uid() 
            AND status = 'active'
        )
    );

CREATE POLICY "Masters can update their organizations" ON organizations
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM organization_members 
            WHERE organization_id = organizations.id 
            AND user_id = auth.uid() 
            AND role = 'master' 
            AND status = 'active'
        )
    );

-- POLÍTICAS PARA ORGANIZATION_MEMBERS
DROP POLICY IF EXISTS "Users can view members of their organizations" ON organization_members;
DROP POLICY IF EXISTS "Organization masters can manage members" ON organization_members;
DROP POLICY IF EXISTS "Masters and admins can manage members" ON organization_members;

CREATE POLICY "Users can add themselves to organizations" ON organization_members
    FOR INSERT WITH CHECK (user_id = auth.uid());

CREATE POLICY "Users can view organization members" ON organization_members
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM organization_members om2 
            WHERE om2.organization_id = organization_members.organization_id 
            AND om2.user_id = auth.uid() 
            AND om2.status = 'active'
        )
    );

CREATE POLICY "Masters can manage organization members" ON organization_members
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM organization_members om2 
            WHERE om2.organization_id = organization_members.organization_id 
            AND om2.user_id = auth.uid() 
            AND om2.role = 'master' 
            AND om2.status = 'active'
        )
    );

-- VERIFICAÇÃO
DO $$ 
BEGIN
    RAISE NOTICE 'Políticas RLS corrigidas';
    RAISE NOTICE 'Sistema pronto!';
END $$;
